@model eCommerceSite.Models.Owner.OwnerRegistrationViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Owner Registration</h4>
<hr />

<form enctype="multipart/form-data" asp-controller="Owner" asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="First_Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="First_Name" class="form-control" />
            <span asp-validation-for="First_Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Last_Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Last_Name" class="form-control" />
            <span asp-validation-for="Last_Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Phone" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Address" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Photo" accept="image/*" id="imgInp" class="form-control custom-file-input" />
                <label class="custom-file-label"> Choose File.... </label>
            </div>
            <img id="Image" src="#" height="100" width="100" alt="your image" />
            <span asp-validation-for="Photo" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Password" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Confrim_Password" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Confrim_Password" class="form-control" />
            <span asp-validation-for="Confrim_Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <input type="submit" value="Registration" class="btn btn-primary" />
        </div>
    </div>
</form>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

        window.onload = function () {
            swal({
                icon: 'success',
                title: 'Registration Complete!',
                text: 'ধন্যবাদ আমাদের সাইটে রেজিস্টার করার জন্য।',
            })
        };
    </script>

}

<div>
    <a asp-controller="Owner" asp-action="Login"> Login </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>

        $(document).ready(function () {

            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });

        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#Image').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });

    </script>

}
