@model eCommerceSite.Models.Cetagory.Cetagory

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/OwnerOperation.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Cetagory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Cetagory Image
        </dt>
        <dd class="col-sm-10">
            <img src="~/CetagoryPicture/@Html.DisplayFor(model => model.Photo)" height="100" width="100" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
