@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>ফ্রি ব্যবহার করার মেয়াদ শেষ হয়ে গেছে দয়া করে এডমিনের সাথে যোগাযোগ করে পেমেন্ট নিশ্চিত করুন।</p><br />

<h4> Admin Details </h4>
<br/>
<h4>Name</h4>  <p>Name of Admin</p><br />
<h4>Phone</h4>  <p>0191xxxxxxx</p><br />
<h4>Email</h4>  <p>admin@gmail.com</p><br />

<p>  অথবা বিকাশে পেমেন্ট করুন </p>

<br/>

Online Payment System
